<p>DEBUG ALERT: <%= flash[:alert].inspect %></p>
<% if flash[:notice] %>
  <%= content_tag :h1, flash[:notice] %>
<% else %>
  <%= content_tag :h1, "Please Log in" %>
<% end %>

<%= form_with url: login_path, method: :post, local: true do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name, required: true %>
  </div>
  <div>
    <%= form.label :password %>
    <%= form.password_field :password, required: true %>
  </div>
  <div>
    <%= form.submit "Log in" %>
  </div>
<% end %>

<%= link_to "Back to Home", root_path %>