<thead>
    <tr>
        <th>Participant</th>
        <th>Product</th>
        <th>Price</th>
        <th>Admin</th>
    </tr>
  </thead>
  <tbody>
    <% @transactions.reverse.each do |transaction| %>
      <tr>
        <td>
            <%= transaction.participant.name %> (id <%= transaction.participant_id %>)<br><br>
            <%= transaction.created_at.localtime.strftime("%-d %b, %H:%M") %>
        </td>
        <td><%= transaction.product.name %></td>
        <td>
          <%=transaction.price %>
        </td>
        <td>
          <% if transaction.admin_id.present? %>
            <%= Admin.find_by(id: transaction.admin_id).name %> (id <%= transaction.admin_id %>)
          <% else %>
            No admin (THIS IS AN ISSUE!)
          <% end %>
      </tr>
    <% end %>
</tbody>