<h1>Activity History</h1>
<%= link_to "Home", root_path %>
<br>
<%= link_to "Dashboard", dashboard_path %>
<br>
<%= link_to "Products", products_path %>
<table class="activity-table">
  <thead>
    <tr>
        <th>Participant</th>
      <th>Action</th>
      <th>Metadata</th>
    </tr>
  </thead>
  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td>
            <%= activity.subject.name %> (id <%= activity.subject_id %>)<br><br>
            <%= activity.created_at.localtime.strftime("%-d %b, %H:%M") %>
        <td><%= activity.action %></td>
        <td>
          <% parsed_metadata = JSON.parse(activity.metadata) rescue {} %>
          <dl>
            <% parsed_metadata.each do |key, value| %>
              <dt><%= key %></dt>
              <dd><%= value %></dd>
            <% end %>
          </dl>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<style>
.activity-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}
.activity-table th, .activity-table td {
  border: 1px solid #ddd;
  padding: 0.5rem;
}
.activity-table thead {
  background-color: #f2f2f2;
}
dl {
  margin: 0;
}
dt {
  font-weight: bold;
}
dd {
  margin: 0 0 0.5rem 0;
}
</style>