<div class="dashboard-container">
  <h1 class="dashboard-title">Admin Dashboard</h1>

  <%= link_to "Create Event", new_event_path, class: "btn btn-primary" %>
  <h2 class="section-heading">Events You Are Part Of</h2>

  <div class="dashboard-stats">
    <% if @admin.managed_events.any? %>
    <div class="event-list-container">
      <h3 class="subheading">Managed Events</h3>
      <ul class="event-list managed sortable-list">
        <% @admin.managed_events.each do |event| %>
          <li class="event-card stat-card">
            <%= link_to event.name, event_dashboard_path(event.slug) %> - <%= event.date.strftime("%-d %b, %Y") %>
            <br>
            <%= event.description %>
          </li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <% if @admin.events.any? %>
    <div class="event-list-container">
      <h3 class="subheading">Admin</h3>
      <ul class="event-list participated sortable-list">
        <% @admin.events.each do |event| %>
          <li class="event-card stat-card">
            <%= link_to event.name, event_dashboard_path(event.slug) %> - <%= event.date.strftime("%-d %b, %Y") %>
            <br>
            <%= event.description %>
          </li>
        <% end %>
      </ul>
    </div>
    <% end %>
  </div>
</div>

<script type="module">
  import Sortable from "sortablejs";

  document.addEventListener('DOMContentLoaded', function() {
    const lists = document.getElementsByClassName('sortable-list');
    Array.from(lists).forEach(function(item) {
      Sortable.create(item, { animation: 1000 });
    });
  });
</script>
