<div class="dashboard-container">
  <h1 class="dashboard-title">Admin Dashboard</h1>

  <%= link_to "Create Event", new_event_path, class: "btn btn-primary" %>
  <h2 class="section-heading">Events You Are Part Of</h2>

  <div class="dashboard-stats">
    <% if @admin.managed_events.any? %>
      <h3 class="subheading">Managed Events</h3>
      <ul class="event-list managed">
        <% @admin.managed_events.each do |event| %>
          <li class="event-card stat-card">
            <%= link_to event.name, event_dashboard_path(event.slug) %> - <%= event.date.strftime("%-d %b, %Y") %>
            <br>
            <%= event.description %>
          </li>
        <% end %>
      </ul>
    <% end %>

    <% if @admin.events.any? %>
      <h3 class="subheading">Admin</h3>
      <ul class="event-list participated">
        <% @admin.events.each do |event| %>
          <li class="event-card stat-card">
            <%= link_to event.name, event_dashboard_path(event.slug) %> - <%= event.date.strftime("%-d %b, %Y") %>
            <br>
            <%= event.description %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
