<h1>Hi there!</h1>

<%=link_to "Create Event", new_event_path, class: "btn btn-primary" %>
<h2>Events you are part of</h2>
<% if @admin.managed_events.any? %>
	<h3>Managed Events</h3>
	<ul>
		<% @admin.managed_events.each do |event| %>
		<li>
			<%= link_to event.name, event_dashboard_path(event.slug) %> - <%= event.date.strftime("%-d %b, %Y") %>
			<br>
			<%= event.description %>
		</li>
		<% end %>
	</ul>
	<% end %>

<% if @admin.events.any? %>
<h3>Admin </h3>
  <ul>
    <% @admin.events.each do |event| %>
      <li>
        <strong><%= event.name %></strong> - <%= event.date.strftime("%-d %b, %Y") %>
        <br>
        <%= event.description %>
      </li>
    <% end %>
  </ul>
<% end %>