<h1>Create a new event</h1>
<%= form_with url: create_event_path, method: :post, local: true do %>
	<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
	<%= label_tag :name, "Event Name" %>
	<%= text_field_tag :name, nil, required: true %>
	<br><br>
	<%= label_tag :date, "Event Date" %>
	<%= date_field_tag :date, nil, required: true %>
	(I'm sorry, we tried to change the date format to the actual correct one!)
	<br><br>
	<%= label_tag :description, "Event Description (optional)" %>
	<%= text_area_tag :description, nil, required: false %>
	<br><br>
	<%= check_box_tag :sync_with_airtable, '1', false %>
	<%= label_tag :sync_with_airtable, "Sync with Airtable (this means that you can pull your participants from an Airtable database. You need an API key with at least read permissions. This option cannot be changed later)" %>
	<br><br>
	<%= submit_tag "Create Event" %>
<% end %>