<h1>Signup for New Admins</h1>
<%= form_with url: signup_path, method: :post, local: true do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name, required: true %>
  </div>
  <div>
    <%= form.label :password %>
    <%= form.password_field :password, required: true %>
  </div>
  <div>
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, required: true %>
  </div>
  <div>
    <%= form.submit "Create Admin" %>
  </div>
<% end %>