<nav class="navbar">
  <ul class="navbar-list">
    <li><div class="navbar-item"><%= link_to "Participants", event_dashboard_path, class: "navbar-link" %></div></li>
    <li><div class="navbar-item"><%= link_to "Products", event_products_path, class: "navbar-link" %></div></li>
    <li><div class="navbar-item"><%= link_to "Transaction History", event_transactions_path, class: "navbar-link" %></div></li>
    <li><div class="navbar-item"><%= link_to "Activity History", event_activity_path, class: "navbar-link" %></div></li>
    <li><div class="navbar-item"><%= link_to "Admins", event_admins_path, class: "navbar-link" %></div></li>
    <li><div class="navbar-item"><%= link_to "Settings", event_settings_path, class: "navbar-link" %></div></li>

  </ul>
</nav>
