<nav style="background-color: #333; padding: 1em;">
  <ul style="list-style: none; display: flex; gap: 1em; margin: 0; padding: 0;">
    <li><%= link_to "Home", root_path, style: "color: white; text-decoration: none;" %></li>
    <li><%= link_to "Dashboard", dashboard_path, style: "color: white; text-decoration: none;" %></li>
    <li><%= link_to "Products", products_path, style: "color: white; text-decoration: none;" %></li>
    <li><%= link_to "Transaction History", transactions_path, style: "color: white; text-decoration: none;" %></li>
    <li><%= link_to "Activity History", activity_path, style: "color: white; text-decoration: none;" %></li>
  </ul>
</nav>