<nav style="background-color: #333; padding: 1em;">
  <ul style="list-style: none; display: flex; gap: 1em; margin: 0; padding: 0;">
    <li><%= link_to "Home", root_path, style: "color: white; text-decoration: none;" %></li>
    <li><%= link_to "Dashboard", event_dashboard_path, style: "color: white; text-decoration: none;" %></li>
    <li><%= link_to "Products", event_products_path, style: "color: white; text-decoration: none;" %></li>
    <li><%= link_to "Transaction History", transactions_path, style: "color: white; text-decoration: none;" %></li>
    <li><%= link_to "Activity History", activity_path, style: "color: white; text-decoration: none;" %></li>
    <li style="margin-left: auto; color: white; position: relative;">
      <% if @admin.present? && Admin.exists?(id: @admin.id) %>
        <div class="admin-dropdown">
          <span style="cursor: pointer;">Logged in as <strong><%= @admin.name %></strong> ▼</span>
          <ul class="admin-dropdown-menu">
            <li>
              <%= link_to 'Settings', settings_path, style: "display: block; padding: 0.5em; color: white; text-decoration: none;" %>
            </li>
            <li>
              <%= link_to 'Logout', logout_path, method: :delete, 
                          data: { confirm: "Are you sure you want to log out?" },
                          style: "display: block; padding: 0.5em; color: white; text-decoration: none;" %>
            </li>
          </ul>
        </div>
      <% else %>
        <%= link_to "Login", login_path, style: "color: white; text-decoration: none;" %>
      <% end %>
    </li>
  </ul>
</nav>

<style>
.admin-dropdown {
  display: inline-block;
  position: relative;
}

.admin-dropdown-menu {
  display: none;
  position: absolute;
  background: #333;
  list-style: none;
  margin: 0;
  padding: 0;
  min-width: 150px;
}

.admin-dropdown:hover .admin-dropdown-menu {
  display: block;
}
</style>